{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <!-- <section class="" style="height: 100%; overflow-y: auto; display: block;" >

                <div class="col-12 row ps-5 pb-4 m-0 justify-content-between align-items-center" style="background-color: #f4f9fd; padding-top: 50px;">
                    <div class="col-4 px-0">
                        <h1 class="">Dashboard</h1>
                    </div>

                    <div class="col-4 d-flex justify-content-end align-items-center">

                        <div class="col-2 px-0  me-5">

                            <div class="dropdown">

                                <a class="btn bg-white py-3 d-flex justify-content-evenly align-items-center hover_block" href="#" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" style="border-radius: 14px; height: 56px;">
                                    <i class="bi bi-funnel position-absolute fs-4 text-black"></i>
                                </a>

                                <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <p>Try scrolling the rest of the page to see this option in action.</p>
                                </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-6 col-2 px-0">
                            <button type="button"
                                    class="btn b_color_b text-white col-lg-6 col-2 py-3 shadow-sm bg-body-tertiary font_f_n fs-6 fw-bold d-flex justify-content-evenly align-items-center  hover_block_b"
                                    style="border-radius: 14px; height: 56px; text-decoration: none; color: black;width: 185px;" data-bs-toggle="modal" data-bs-target="#exampleModal">

                                <i class="bi bi-plus fs-3 text-black"></i>
                                Add Employee
                            </button>

                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
        
            </section> -->

{% endblock content %}